name: Android CI

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 34
          build-tools: '34.0.0'

      # 构建 debug APK，支持调试器选项
      - name: Run Gradle assembleDebug
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleDebug -PdebugOptions=debuggable # 设置调试功能
          gradle-version: 8.2

      # 构建 release APK
      - name: Run Gradle assembleRelease
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assembleRelease
          gradle-version: 8.2

      # 上传 Debug APK
      - name: Upload Debug APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-debug-apk
          path: app/build/outputs/apk/debug/app-debug.apk

      # 上传 Release APK
      - name: Upload Release APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: app-release-apk
          path: app/build/outputs/apk/release/app-release.apk